 .pw-meter *{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
  }
  body {
    font-family: 'Sofia Sans', sans-serif;
    background-color: #080c30;
  }


  /* Navbar and Sidebar settings */
#top {
  display: flex;
  position:fixed;
  background-color:#2c2b2e;
  border-bottom:2px solid white;
  height: 50px;
  width: 100%;
  top: 0;
  opacity: 1;
  user-select: none;
  z-index: 10;
}

#passGetText {
  margin-top: auto;
  margin-bottom: auto;
  height: 30px;
  width: auto;
  margin-left: 70px;
  user-select: none;
}

@media only screen and (min-width: 900px){

  #sidebarButton {
      display: none;
  }

  #backButton {
      display: none;
  }

  .sidebarTab {
      display: none;
  }

  #navbarContainer {
      display: flex;
      width: 40%;
      min-width: 700px;
      margin-left: auto;
      margin-right: 0;
  }

  .navbarTab {
      width: 220px;
      height: 50px;
      padding: 0px;
      background-color:#2c2b2e;
      text-align: center;
  }

  .navbarTab:hover{
      background-color: rgba(63, 63, 63, 0.837);
      transition: 0.25s;
  }
  .navbarTab:not(:hover){
      background-color:#2c2b2e;
      transition: 0.25s;
  }


  .sidebarText {
      font-family: 'Sofia Sans', sans-serif;
      user-select: none;
      color: white;
  }
}

@media only screen and (max-width: 900px){
  .navbarTab {
      display: none;
  }

  #sidebarButton {
      display: block;
      height: 100%;
      aspect-ratio: 1;

      margin-left: auto;
      margin-right: 0px;

      border: 1px solid rgba(158, 158, 158, 0.35);

      background-color:#2c2b2e;
      font-size: 30px;
      color:white;

  }

  #sidebarButton:hover{
      background: rgba(158, 158, 158, 0.35);
      transition: 0.25s
  }
  #sidebarButton:not(:hover){
      background-color:#2c2b2e;
      transition: 0.25s;
  }

  #backButton {
      display: block;
      padding:7px;
      height: 50px;
      width: 50px;
      user-select: none;

      margin-left: auto;
      margin-right: 0px;

      border: 1px solid rgba(158, 158, 158, 0.35);
  }
  #backButton:hover{
      background: rgba(158, 158, 158, 0.35);
      transition: 0.25s
  }
  #backButton:not(:hover){
      background-color:#2c2b2e;
      transition: 0.25s;
  }

  #backIcon {
      width: 30px;
  }


  #sidebar {
      display: none;
      background-color: #2c2b2e;
      right: 0;
      top: 0;
      position:fixed;
      height: 100%;
      width: 300px;
      opacity: 1;
  }
  #sidebar:hover{
      background-color: #2c2b2e;
      transition: 0.3s;
  }
  #sidebar:not(:hover){
      background-color: #2c2b2e;
      opacity: 0.7;
      transition: 0.3s;
  }

  .sidebarTab {
      width: 100%;
      height: 100px;
      padding: 0px;
      background-color:#2c2b2e;
      text-align: center;
      border: 2px solid white;
  }

  .sidebarTab:hover{
      background-color: rgba(63, 63, 63, 0.837);
      transition: 0.25s;
  }
  .sidebarTab:not(:hover){
      background-color:#2c2b2e;
      transition: 0.25s;
  }
  
  .sidebarText {
      font-family: 'Sofia Sans', sans-serif;
      color: white;
      margin-top: 40px;
  }

}

/* End of Navbar and Sidebar Settings */

  .pw-meter {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:60%;
    max-width: 550px;
    background:#efefef;
    padding:20px;
    box-shadow: 5px 5px 30px rgb(27, 26, 26);
    border-radius: 20px;
  
    

  }
  .pw-meter h2 {
    margin:10px 0px 30px;
    font-size:40px;
    color: #fc3;
    text-align:center;
  }
  .pw-meter .form-element {
    position:relative;
  }
  .pw-meter label {
    display:block;
    margin-bottom:8px;
    color:#111;
  }
  .pw-meter input {
    padding:8px 30px 8px 10px;
    width:100%;
    font-size:16px;
    border:1px solid #bbb;
    outline:none;
  }
  .pw-meter .pw-display-toggle-btn {
    position:absolute;
    right:10px;
    top:35px;
    width:20px;
    height:20px;
    text-align:center;
    line-height:20px;
    cursor:pointer;
  }
  .pw-meter .pw-display-toggle-btn i.fa-eye-slash {
    display:none;
  }
  .pw-meter .pw-display-toggle-btn.active i.fa-eye-slash {
    display:block;
  }
  .pw-meter .pw-display-toggle-btn.active i.fa-eye {
    display:none;
  }
  .pw-meter .pw-strength {
    position:relative;
    width:100%;
    height:20px;
    margin-top:10px;
    text-align:center;
    background:#f2f2f2;
    display:none;
  }
  .pw-meter .pw-strength span:nth-child(1) {
    position:relative;
    font-size:13px;
    color:#111;
    z-index:2;
    font-weight:600;
  }
  .pw-meter .pw-strength span:nth-child(2) {
    position:absolute;
    top:0px;
    left:0px;
    width:0%;
    height:100%;
    border-radius:5px;
    z-index:1;
    transition:all 300ms ease-in-out;
  }

  #check0,#check1,#check2,#check3,#check4
  {
     display:block;
     position:relative;
     margin:4%;
     color:red; 
     font-size:18px;
     width:92% ;
  }

  input[id="password"] {
    transition-duration:600ms;
  }

  i{
    transition-duration:600ms;
  }