body {
    background-color: #080c30;
    margin: 0px;
}

#parsettings {
    text-align: center;
    padding: 0px;
    color: #ffffff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

/*Sidebar Settings */
#top {
    position:fixed;
    background-color:#ffffff;
    height: 50px;
    width: 100%;
    top: 0;
}

#sidebarIcon {
    display: block;
    padding: 10px;
    position: absolute;
    height: 30px;
    width:auto;
    user-select: none;
}
#sidebarIcon:hover{
    background: rgba(158, 158, 158, 0.35);
    transition: 0.25s
}
#sidebarIcon:not(:hover){
    background-color:#ffffff;
    transition: 0.25s;
}

#backButton {
    padding: 10px;
    height: 30px;
    width:auto;
    opacity: 1;
    user-select: none;
}
#backButton:hover{
    background: rgba(158, 158, 158, 0.35);
    transition: 0.25s
}
#backButton:not(:hover){
    background-color:#ffffff;
    transition: 0.25s;
}


#sidebar {
    display: none;
    background-color: #ffffffaa;
    top: 0;
    position:fixed;
    height: 100%;
    width: 300px;
    opacity: 1;
}
#sidebar:hover{
    background-color: white;
    transition: 0.3s;
}
#sidebar:not(:hover){
    opacity: 0.7;
    transition: 0.3s;
}

.sidebarTab {
    width: 99%;
    height: 75px;
    padding: 0px;
    border-top: 1px solid #6c6c6c;
    border-bottom: 1px solid #6c6c6c;

    text-align: center;
}

.sidebarTab:hover{
    background-color: rgba(196, 196, 196, 0.837);
    transition: 0.25s;
}
.sidebarTab:not(:hover){
    background-color: white;
    transition: 0.25s;
}

.sidebarText {
    font-family: Arial, sans-serif;
    user-select: none;
}
/* End of Sidebar Settings */

input {
    font-size: 24px;
}

.title-text {
    color: rgb(255, 230, 2);
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;

    font-family: Trebuchet MS, Arial, sans-serif;  
    text-align:center;
    font-size: 55px;
}

.middleBox {

    border-radius: 25px;
    background: rgba(112, 136, 216, 0.137);
    padding: 20px; 
    height :800px;
    min-width: 500px;
    width:90%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 10px;
}

.searchbar {
    background-color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
    height: 50px;
    border: 10px;
    border-radius: 25px;
}

#inputSpace {
    background-color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
    height: 50px;
    border: 10px;
    border-radius: 25px;
    text-align: center;
}