

body {
    background-color: #080c30;
    margin: 0px;
}
/*old background-color: #0B0F2F */
.top {
    background-color:#ffffff;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
}

#sidebarIcon {
    padding: 10px;
    height: 30px;
    width:auto;
}
#sidebarIcon:hover{
    background: rgba(158, 158, 158, 0.35);
    transition: 0.25s
}
#sidebarIcon:not(:hover){
    background-color:#ffffff;
    transition: 0.25s;
}


.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;

    width: 500px;
    height: auto;
  }


.middleBox {
    background-color: rgba(112, 136, 216, 0.137);
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 25px;
    padding: 20px; 
    height :500px;
    width:90%;
    
    border: 10px;
}

.passwordOutputBox {
    background-color: white;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 80%;
    max-width: 500px;
    height: 50px;
    border: 10px;
    border-radius: 25px;
}

.buttonSpace { /*container for buttons */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 300px;
    height: 100px;
}

.buttonText {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#generateButton {
    float: left;
    background-color: rgb(68, 68, 112);
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 47px;
    border: 10px;
    border-radius: 25px;

    text-align: center;
}
#generateButton:hover{
    background: rgba(107, 131, 212, 0.397);
    transition: 0.25s
}

#generateButton:not(:hover){
    background: rgba(55, 91, 211, 0.404);
    transition: 0.25s;
}


#saveButton {
    float: right;
    background-color: rgb(167, 154, 40);
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 47px;
    border: 10px;
    border-radius: 25px;

    text-align: center;
}
#saveButton:hover{
    background-color: rgba(255, 231, 11, 0.856);
    transition: 0.25s;
}
#saveButton:not(:hover){
    background-color: rgb(167, 154, 40);
    transition: 0.25s;
}

